html{
    color: white; 
    background-color: darkslategrey;
}

h1{
    position: relative; 
    text-align: center;
}

#whenSignedOut{
    position: relative; 
    text-align: center; 
    

    margin-top: 70px;
}

#whenSignedIn{
    position: relative;
    text-align: center; 
    margin-top: 100px; 
}

.signOutButton{
    position: absolute;
  
    right: 0;
    
    
}

ul, li{
    
    text-align: left; 
    list-style: none; 
    font-size: 25px; 
    
}
.list{
    display: flex; 
    justify-content: center; 
    text-align: center;  
}

#recipeImages{
    
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center; 
    
    


     
    
     
}

#recipeImages img{
  
      
    border: solid black 5px; 
    width: 95%; 

    

  
}

#selectedItem{
    margin-left: 150px; 
    float: right; 
    
}

a{
    color: white; 

    

    

    
    
}
