html{
    color: white; 
    background-color: darkslategrey;
}

h1{
    position: relative; 
    text-align: center;
}

#whenSignedOut{
    position: relative; 
    text-align: center; 
    

    margin-top: 70px;
}

