html{
    color: white; 
    background-color: darkslategrey;
}

h1{
    position: relative; 
    text-align: center;
}

#whenSignedOut{
    position: relative; 
    text-align: center; 
    

    margin-top: 70px;
}

#whenSignedIn{
    position: relative;
    text-align: center; 
    margin-top: 100px; 
}

.signOutButton{
    position: absolute;
    top: 0;
    right: 0; 
    
}

ul, li{
    
    text-align: left; 
    list-style: none; 
    
}
.list{
    display: flex; 
    justify-content: center; 
    text-align: center; 

    
}
